<div id="page-wrapper">

        <!-- Header -->
        <div id="header">


            <!-- Main -->
            <div class="wrapper style1">
                <div class="container">
                    <article id="main" class="special">
                        <header>
                            <h2><a href="#">Benefactor</a></h2>
                            <p>
                                Morbi convallis lectus malesuada sed fermentum dolore amet
                            </p>
                        </header>

                    </article>
                    <hr />
                    <div class="row">
                        <article class="col-4 col-12-mobile special">
                            <a href="#" class="image featured"><img src="images/pic07.jpg" alt="" /></a>
                            <header>
                                <h3><a href="#">Gravida aliquam penatibus</a></h3>
                            </header>

                        </article>
                        <article class="col-4 col-12-mobile special">
                            <a href="#" class="image featured"><img src="images/pic08.jpg" alt="" /></a>
                            <header>
                                <h3><a href="#">Sed quis rhoncus placerat</a></h3>
                            </header>

                        </article>
                        <article class="col-4 col-12-mobile special">
                            <a href="#" class="image featured"><img src="images/pic09.jpg" alt="" /></a>
                            <header>
                                <h3><a href="#">Magna laoreet et aliquam</a></h3>
                            </header>

                        </article>
                        </article>

                        <div class="row">
                            <article class="col-4 col-12-mobile special">
                                <a href="#" class="image featured"><img src="images/pic07.jpg" alt="" /></a>
                                <header>
                                    <h3><a href="#">Gravida aliquam penatibus</a></h3>
                                </header>

                            </article>
                            <article class="col-4 col-12-mobile special">
                                <a href="#" class="image featured"><img src="images/pic08.jpg" alt="" /></a>
                                <header>
                                    <h3><a href="#">Sed quis rhoncus placerat</a></h3>
                                </header>

                            </article>
                            <article class="col-4 col-12-mobile special">
                                <a href="#" class="image featured"><img src="images/pic09.jpg" alt="" /></a>
                                <header>
                                    <h3><a href="#">Magna laoreet et aliquam</a></h3>
                                </header>

                            </article>
                            </article>

                            <div class="row">
                                <article class="col-4 col-12-mobile special">
                                    <a href="#" class="image featured"><img src="images/pic07.jpg" alt="" /></a>
                                    <header>
                                        <h3><a href="#">Gravida aliquam penatibus</a></h3>
                                    </header>

                                </article>
                                <article class="col-4 col-12-mobile special">
                                    <a href="#" class="image featured"><img src="images/pic08.jpg" alt="" /></a>
                                    <header>
                                        <h3><a href="#">Sed quis rhoncus placerat</a></h3>
                                    </header>

                                </article>
                                <article class="col-4 col-12-mobile special">
                                    <a href="#" class="image featured"><img src="images/pic09.jpg" alt="" /></a>
                                    <header>
                                        <h3><a href="#">Magna laoreet et aliquam</a></h3>
                                    </header>

                                </article>
                            </div>
                        </div>

                    </div>