<div class="product-items">
    <div class="tile is-ancestor is-12 is-wrap">
        <div class="tile is-vertical is-12">
            <div class="tile">
                <div class="tile is-parent is-vertical">
                    <article class="tile is-child box">
                       {{list_name}}
                        <a href="/lists"><img src="/images/test/productTest.jpg"></a>
                    </article>
                </div>
            </div>
        </div>
    </div>
</div>
