<div class="header1">
    <nav id="nav-1">
        <ul>
            <li><a href="/dashboard">Home</a></li>
            <li><a href="/about">About Us</a></li>
            {{!-- <li><a href="/friendlist">Friends Lists</a></li> --}}
            <li><a href="/userlist">Your Lists</a></li>
            <li><a id="logout">Logout</a></li>

        </ul>
    </nav>
</div>