 <a href="{{product_url}}" class="image featured"><img src="{{product_img}}" alt="" /></a>
                    <header>
                        <h3><a >{{product_name}}</a></h3>
                    </header>
