<div class="product-items">
    <div class="tile is-ancestor is-12 is-wrap">
        <div class="tile is-vertical is-3">
            <div class="tile">
                <div class="tile is-parent is-vertical">
                    <article class="tile is-child box">
                        <!-- product image -->
                        <!-- product name -->
                    </article>
                </div>
            </div>
        </div>
    </div>
</div>