<html class="is-flex is-flex-direction-column" style=" margin: 0px padding: 0px;">
	<head>
		<title>Benefactor</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
		
			
    {{{ body }}}

    
<!-- Scripts -->
			<script src="/javascript/js/jquery.min.js"></script>
			<script src="/javascript/js/jquery.dropotron.min.js"></script>
			<script src="/javascript/js/jquery.scrolly.min.js"></script>
			<script src="/javascript/js/jquery.scrollex.min.js"></script>
			<script src="/javascript/js/browser.min.js"></script>
			<script src="/javascript/js/breakpoints.min.js"></script>
			<script src="/javascript/js/util.js"></script>
			<script src="/javascript/js/main.js"></script>
    {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}
</body>

</html>