		<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/stylesheets/css/main.css" />
		<link rel="stylesheet" href="/stylesheets/css/list-style.css" />
		<noscript><link rel="stylesheet" href="/stylesheets/css/noscript.css" /></noscript>
	</head>
	




<body>
    


<div id="page-wrapper" class="bg-img">

    <!-- Header -->
    {{#if loggedIn}}
    <nav id="nav">

        <ul>
            <li><a href="/about">About Us</a></li>



            {{!-- <li><a href="/friendlist">Friends Lists</a></li> --}}
            <li><a href="/userlist">Your Lists</a></li>
            <li><a id="logout">Logout</a></li>



            <!-- <li><a href="left-sidebar.html">Left Sidebar</a></li>

								<li><a href="right-sidebar.html">Right Sidebar</a></li>
								<li><a href="no-sidebar.html">No Sidebar</a></li> -->
        </ul>
    </nav>
    {{/if}}


    <!-- Main -->
    <div class="wrapper style1">
        <div class="container-fluid">
            <article id="main" class="special">
                <header>

                  
                    <h2><a href="/dashboard">Top Trending</a></h2>
                </header>

            </article>

            <div class="row">
                <article class="col-4 col-12-mobile special">
                    <a href="https://www.amazon.com/s?k=home+office&ref=nb_sb_noss_1" target="_blank" class="image featured">
                    <img src="images/home-office.png" alt="" /></a>
                    <header>
                        <h3><a href="">home office</a></h3>
                    </header>

                </article>
                <article class="col-4 col-12-mobile special">
                    <a href="https://www.amazon.com/s?k=art+supplies&crid=2R1SB8B6DI8S9&sprefix=art+%2Cfashion-mens%2C229&ref=nb_sb_ss_ts-doa-p_1_4" target="_blank" class="image featured">
                    <img src="images/art.png" alt="" /></a>
                    <header>
                        <h3><a href="#">Art Supplies</a></h3>
                    </header>

                </article>
                <article class="col-4 col-12-mobile special">
                    <a href="https://www.amazon.com/s?k=gadgets&ref=nb_sb_noss_1" target="_blank" class="image featured">
                    <img src="images/gadgets.png" alt="" /></a>
                    <header>
                        <h3><a href="#">Gadgets</a></h3>
                    </header>

                </article>
            </div>
            <hr />

            <div class="row">
                <article class="col-4 col-12-mobile special">
                    <a href="https://www.amazon.com/s?k=kitchen&ref=nb_sb_noss_1" target="_blank" class="image featured">
                    <img src="images/kitchen.png" alt="" /></a>
                    <header>
                        <h3><a href="#">Kitchen Supplies</a></h3>
                    </header>

                </article>
                <article class="col-4 col-12-mobile special">
                    <a href="https://www.amazon.com/s?k=automotive+accessories&crid=1S5JQJMVO0DJJ&sprefix=automotive+ac%2Caps%2C240&ref=nb_sb_ss_ts-doa-p_1_13" target="_blank" class="image featured">
                    <img src="images/automotive.png" alt="" /></a>
                    <header>
                        <h3><a href="#">Automotive Accessories</a></h3>
                    </header>

                </article>
                <article class="col-4 col-12-mobile special">
                    <a href="https://www.amazon.com/s?k=electronics&rh=n%3A172282&dc&qid=1624558709&rnid=2941120011&ref=sr_nr_n_1" target="_blank" class="image featured">
                    <img src="images/electronics.png" alt="" /></a>
                    <header>
                        <h3><a href="#">Electronics</a></h3>
                    </header>

                </article>
            </div>
            <hr />

            <div class="row">
                <article class="col-4 col-12-mobile special">
                    <a href="https://www.amazon.com/s?k=gaming&ref=nb_sb_noss_1" target="_blank" class="image featured"><img src="images/gaming.png" alt="" /></a>
                    <header>
                        <h3><a href="#">Gaming</a></h3>
                    </header>

                </article>
                <article class="col-4 col-12-mobile special">
                    <a href="https://www.amazon.com/s?k=bathroom+accessories" target="_blank" class="image featured"><img src="images/bathroom.png" alt="" /></a>
                    <header>
                        <h3><a href="#">Bathroom Accessories</a></h3>
                    </header>

                </article>
                <article class="col-4 col-12-mobile special">
                    <a href="https://www.amazon.com/b?node=283155" target="_blank" class="image featured"><img src="images/books.png" alt="" /></a>
                    <header>
                        <h3><a href="#">Books</a></h3>
                    </header>

                </article>
            </div>

        </div>

    </div>
</div>