		<link rel="stylesheet" href="/stylesheets/css/main.css" />
		<link rel="stylesheet" href="/stylesheets/css/list-style.css" />
		<noscript><link rel="stylesheet" href="/stylesheets/css/noscript.css" /></noscript>
	</head>
	




<body>
    


<div id="page-wrapper" class="bg-img">

    <!-- Header -->
    {{#if loggedIn}}
    <nav id="nav">

        <ul>
            <li><a href="/about">About Us</a></li>



            <li><a href="/friendlist">Friends Lists</a></li>
            <li><a href="/userlist">Your Lists</a></li>
            <li><a id="logout">Logout</a></li>



            <!-- <li><a href="left-sidebar.html">Left Sidebar</a></li>

								<li><a href="right-sidebar.html">Right Sidebar</a></li>
								<li><a href="no-sidebar.html">No Sidebar</a></li> -->
        </ul>
    </nav>
    {{/if}}


    <!-- Main -->
    <div class="wrapper style1">
        <div class="container-fluid">
            <article id="main" class="special">
                <header>
                    <h2><a href="/dashboard">Benefactor</a></h2>
                    <hr />
                </header>

            </article>
        </div>

    </div>
</div>