
  <div id="page-wrapper">

        <!-- Header -->
        {{#if loggedIn}}
			<nav id="nav">

				<ul>
					<li><a href="/about">About Us</a></li>


					<li>
						<a href="#">Dropdown</a>
						<ul>
							<li><a href="/friendlist">Friends Lists</a></li>
							<li><a href="/userlist">Your Lists</a></li>
							<li><a id="logout">Logout</a></li>

							{{!-- <li>
								<a href="#">And a submenu &hellip;</a>
								<ul>
									<li><a href="#">Lorem ipsum dolor</a></li>
									<li><a href="#">Phasellus consequat</a></li>
									<li><a href="#">Magna phasellus</a></li>
									<li><a href="#">Etiam dolore nisl</a></li>
								</ul> --}}
								{{!--
							</li>
							<li><a href="#">Veroeros feugiat</a></li> --}}
						</ul>
					</li>

					<!-- <li><a href="left-sidebar.html">Left Sidebar</a></li>
								<li><a href="right-sidebar.html">Right Sidebar</a></li>
								<li><a href="no-sidebar.html">No Sidebar</a></li> -->
				</ul>
			</nav>
			{{/if}}


            <!-- Main -->
            <div class="wrapper style1">
                <div class="container">
                    <article id="main" class="special">
                        <header>
                            <h2><a href="#">Benefactor</a></h2>
                            <hr />
                        </header>

                    </article>
                    <div class="row">
                        <article class="col-4 col-12-mobile special">
                            <a href="#" class="image featured"><img src="images/pic07.jpg" alt="" /></a>
                            <header>
                                <h3><a href="#">Gravida aliquam penatibus</a></h3>
                            </header>

                        </article>
                        <article class="col-4 col-12-mobile special">
                            <a href="#" class="image featured"><img src="images/pic08.jpg" alt="" /></a>
                            <header>
                                <h3><a href="#">Sed quis rhoncus placerat</a></h3>
                            </header>

                        </article>
                        <article class="col-4 col-12-mobile special">
                            <a href="#" class="image featured"><img src="images/pic09.jpg" alt="" /></a>
                            <header>
                                <h3><a href="#">Magna laoreet et aliquam</a></h3>
                            </header>

                        </article>
                        </article>

                        <div class="row">
                            <article class="col-4 col-12-mobile special">
                                <a href="#" class="image featured"><img src="images/pic07.jpg" alt="" /></a>
                                <header>
                                    <h3><a href="#">Gravida aliquam penatibus</a></h3>
                                </header>

                            </article>
                            <article class="col-4 col-12-mobile special">
                                <a href="#" class="image featured"><img src="images/pic08.jpg" alt="" /></a>
                                <header>
                                    <h3><a href="#">Sed quis rhoncus placerat</a></h3>
                                </header>

                            </article>
                            <article class="col-4 col-12-mobile special">
                                <a href="#" class="image featured"><img src="images/pic09.jpg" alt="" /></a>
                                <header>
                                    <h3><a href="#">Magna laoreet et aliquam</a></h3>
                                </header>

                            </article>
                            </article>

                            <div class="row">
                                <article class="col-4 col-12-mobile special">
                                    <a href="#" class="image featured"><img src="images/pic07.jpg" alt="" /></a>
                                    <header>
                                        <h3><a href="#">Gravida aliquam penatibus</a></h3>
                                    </header>

                                </article>
                                <article class="col-4 col-12-mobile special">
                                    <a href="#" class="image featured"><img src="images/pic08.jpg" alt="" /></a>
                                    <header>
                                        <h3><a href="#">Sed quis rhoncus placerat</a></h3>
                                    </header>

                                </article>
                                <article class="col-4 col-12-mobile special">
                                    <a href="#" class="image featured"><img src="images/pic09.jpg" alt="" /></a>
                                    <header>
                                        <h3><a href="#">Magna laoreet et aliquam</a></h3>
                                    </header>

                                </article>
                            </div>
                        </div>

                    </div>