{{!-- userlist --}}
<link rel="stylesheet" href="/list-assets/assets/css/main.css" />
<noscript>
    <link rel="stylesheet" href="/list-assets/assets/css/noscript.css" />
</noscript>


<body>




    <div id="main">
        <div class="header1">

    <nav id="nav-1">
        <ul>
            <li><a href="/dashboard">Home</a></li>
            <li><a href="/about">About Us</a></li>
            {{!-- <li><a href="/friendlist">Friends Lists</a></li> --}}
            <li><a href="/userlist">Your Lists</a></li>
            <li><a id="logout">Logout</a></li>

        </ul>
    </nav>

    <!-- Main -->

            <div class="new">
                <div>
                    <input class="input" type="text" placeholder="Text input">
                </div>
            </div>
        </div>

        <!-- Featured Post -->
        <article class="post featured">
            <header class="major">

                <h2>Welcome to {{friend.username}}<br />
                    List Page</a></h2>
                <hr />
            </header>
            <h2> Personal </h2>
            <a href="#" class="image main"><img src="/images/home-office.jpg" alt="" /></a>
            <ul class="actions special">
                <li><a href="/personal" class="button large">Look At List</a></li>
            </ul>
        </article>

        <!-- Posts -->
        <section class="posts">
            <article>
                <header>
                    
                    <h2><a href="#"> Gaming </a></h2>
                </header>
                <a href="#" class="image fit"><img src="/images/gaming.jpg" alt="" /></a>

                <ul class="actions special">
                    <li><a href="/gaming" class="button">Add To List</a></li>
                </ul>
            </article>
            <article>
                <header>
                    
                    <h2><a href="#">Gaming</a></h2>
                </header>
                <a href="#" class="image fit"><img src="images/pic03.jpg" alt="" /></a>

                <ul class="actions special">
                    <li><a href="#" class="button">Full Story</a></li>
                </ul>
            </article>
            <article>
                <header>
                    
                    <h2><a href="#">Ante mattis<br />
                            interdum dolor</a></h2>
                </header>
                <a href="#" class="image fit"><img src="images/pic04.jpg" alt="" /></a>

                <ul class="actions special">
                    <li><a href="#" class="button">Full Story</a></li>
                </ul>
            </article>
            <article>
                <header>
                    
                    <h2><a href="#">Tempus sed<br />
                            nulla imperdiet</a></h2>
                </header>
                <a href="#" class="image fit"><img src="images/pic05.jpg" alt="" /></a>

                <ul class="actions special">
                    <li><a href="#" class="button">Full Story</a></li>
                </ul>
            </article>
            <article>
                <header>
                    
                    <h2><a href="#">Odio magna<br />
                            sed consectetur</a></h2>
                </header>
                <a href="#" class="image fit"><img src="images/pic06.jpg" alt="" /></a>

                <ul class="actions special">
                    <li><a href="#" class="button">Full Story</a></li>
                </ul>
            </article>
            <article>
                <header>
                    
                    <h2><a href="#">Augue lorem<br />
                            primis vestibulum</a></h2>
                </header>
                <a href="#" class="image fit"><img src="images/pic07.jpg" alt="" /></a>

                <ul class="actions special">
                    <li><a href="#" class="button">Full Story</a></li>
                </ul>
            </article>
        </section>


        <!-- Scripts -->
        <script src="/list-assets/assets/js/jquery.min.js"></script>
        <script src="/list-assets/assets/js/jquery.scrollex.min.js"></script>
        <script src="/list-assets/assets/js/jquery.scrolly.min.js"></script>
        <script src="/list-assets/assets/js/browser.min.js"></script>
        <script src="/list-assets/assets/js/breakpoints.min.js"></script>
        <script src="/list-assets/assets/js/util.js"></script>
        <script src="/list-assets/assets/js/main.js"></script>