<header>
    <div class="new">
        <div>
            <input class="input is-large" type="text" placeholder="Text input">
        </div>
    </div>
</header>

<main>
    <section class="left-flex-view">
        {{> friends-list}}
    </section>
    <aside class="right-flex-view">
        {{> product-info}}
    </aside>
</main>