<body class="homepage is-preload">
	<div id="page-wrapper">

		<!-- Header -->
		<div id="header">

			<!-- Inner -->
			<div class="inner">
				<header>
					<h1><a href="/dashboard" id="logo">Benefactor</a></h1>
					<hr />
					<p>Get Ready for your gifts</p>
				</header>
				<footer>
					<a href="/login" class="hvr-glow hvr-radial-in button circled scrolly">Login</a>
				</footer>
			</div>

			<!-- Nav -->
			{{#if loggedIn}}
			<nav id="nav">

				<ul>
					<li><a href="/dashboard">Home</a></li>

					<li>
						<a href="#">Dropdown</a>
						<ul>
							<li><a href="/friendlist">Friends Lists</a></li>
							<li><a href="/userlist">Your Lists</a></li>
							<li><a id="logout">Logout</a></li>

							{{!-- <li>
								<a href="#">And a submenu &hellip;</a>
								<ul>
									<li><a href="#">Lorem ipsum dolor</a></li>
									<li><a href="#">Phasellus consequat</a></li>
									<li><a href="#">Magna phasellus</a></li>
									<li><a href="#">Etiam dolore nisl</a></li>
								</ul> --}}
								{{!--
							</li>
							<li><a href="#">Veroeros feugiat</a></li> --}}
						</ul>
					</li>

					<!-- <li><a href="left-sidebar.html">Left Sidebar</a></li>
								<li><a href="right-sidebar.html">Right Sidebar</a></li>
								<li><a href="no-sidebar.html">No Sidebar</a></li> -->
				</ul>
			</nav>
			{{/if}}

		</div>