* {
  box-sizing: border-box;
}

large {
  height: 25px;
  width: 25px;
}

body, html {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  color: #333;
}

body {
  background: url("../images/onepunch.jpg") no-repeat center center fixed;
   background-size: cover;
}

.warning h2 {
  /* border: 2px solid red; */
  /* border-radius: 25%; */
  /* width: fit-content; */
  /* background: red; */
  color: yellow;
}

.warning label{
  /* border: 2px solid red; */
  /* border-radius: 25%; */
  /* width: fit-content; */
  /* background: red; */
  color: yellow;
}

.warning input {
  background: red;
  color: yellow;
}

.warning textarea {
  background: red;
  color: yellow;
}

.post {
  background: yellow;
  border: red 3px solid;
  margin: 45px;
}

.post p {
  color: red;
}

.post h3 {
  background-color: red;
  color: yellow;
  border-bottom: 2px solid black;
}

.comment-div span {
  color: yellow;
}

a {
  text-decoration: none;
  width: fit-content;
  color: red;
  font-weight: bold;
  transition: color .1s;
}

a:hover {
  color: #3486eb;
}

button {
  background-color: #225ca3;
  border: 0;
  padding: 1%;
  color: white;
  font-weight: bold;
  transition: background-color .1s;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #3486eb;
}

.post-list {
  margin: 0;
  padding: 0;
}

textarea, input {
  padding: .5%;
  border-radius: 5px;
  border: 1px solid #ccc;
}

textarea:focus, input:focus {
  outline: none;
  border: 1px solid #3486eb;
}

textarea {
  min-width: 40%;
  min-height: 100px;
}

form > div {
  margin-bottom: 2%;
}

form label {
  display: block;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

header {
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1%;
}

header h1 {
  font-size: 1em;
}

main {
  flex: 1;
  padding: 2% 4%;
}

.btn-no-style {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  color: #225ca3;
  font-size: 100%;
  font-weight: bold;
  transition: color .1s;
  margin-left: 16px;
}

.btn-no-style:hover {
  background: none;
  color: #3486eb;
}



.delete-post-btn:hover {
  background-color: red;
  color: yellow;
}

.post {
  margin-bottom: 2%;
  line-height: 150%;
}

.post .title span {
  font-style: italic;
  font-size: 90%;
  color: #7d7d7d;
}

.edit-link {
  display: block;
  margin: -1.5% 0 2% 0;
}

.comment-form {
  margin-bottom: 5%;
}

.comment {
  background: yellow;
  color: red;
  padding: 1%;
  margin-bottom: 1%;
}

.comment:nth-child(odd) {
  background-color: red;
  color: yellow;
}

.comment .meta {
  font-size: 90%;
  margin-bottom: .5%;
  opacity: .6;
  background: red;
  color: yellow;
}

.meta span {
  background: red;
  color: yellow;
}

.new-post-form input {
  width: 300px;
}

.edit-post-form {
  margin-bottom: 5%;
}

.address {
  border: yellow 3px solid;
  color: yellow;
  background-color: red;
}

.address span {
  color: yellow;
}

.address a {
  color: black;
}

.address p {
  color: yellow;
}

footer {
  border-top: 1px solid #ccc;
  display: flex;
  justify-content: center;
  padding: 1%;
  font-size: 110%;
}